.login-form {
    width: 300px;
    margin: 30px auto;
}
.login-form h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 30px 0;
    text-align: center;
}
.login-form form {
    color: #fff;
    background: #4F9EC8;
    background: radial-gradient(circle, #6eb2d6, #4391bb);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 25px;
    margin-bottom: 15px;
}
.login-form .form-control {
    border-color: #dfdfdf;
    box-shadow: none !important;
}
.login-form .form-control, .login-form .btn {
    min-height: 38px;        
}
.login-form input[type="number"] {
    border-radius: 0px 0px 0 0;
}
.login-form input[type="password"] {
    border-radius: 0 0 0px 0px;
    margin-top: 0px;
}    
.login-form .btn, .login-form .btn:active {        
    font-size: 15px;
    font-weight: bold;
    border-radius: 2px;
    background: #eeeeee !important;
    color: #646464;
    margin-bottom: 25px;
}
.login-form .btn:hover, .login-form .btn:focus{
    background: #e4e4e4 !important;
}
.login-form a {		
    color: #405e9e;
}
.login-form form a {
    color: #fff;
}

.regimag {
    width: 100%;
    height: 100%;
    background-color: #405e9e;
    background-image: url('../img/regbanner.jpg');
    background-position: center;
    border-radius: 10px;
}

.card {
    border-radius: 10px;
}

.bg-litegray {
    background-color: #e4e4e4;
}